@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-libre-baskerville: "Libre Baskerville", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;

  --color-brand-50: #f6f9f9;
  --color-brand-100: #ebf2f3;
  --color-brand-200: #d3e1e4;
  --color-brand-300: #9fc0c5;
  --color-brand-400: #7facb1;
  --color-brand-500: #5f9198;
  --color-brand-600: #4b777e;
  --color-brand-700: #3e6066;
  --color-brand-800: #365156;
  --color-brand-900: #30454a;
  --color-brand-950: #202d31;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --color-brand-50: #f6f9f9;
  --color-brand-100: #ebf2f3;
  --color-brand-200: #d3e1e4;
  --color-brand-300: #9fc0c5;
  --color-brand-400: #7facb1;
  --color-brand-500: #5f9198;
  --color-brand-600: #4b777e;
  --color-brand-700: #3e6066;
  --color-brand-800: #365156;
  --color-brand-900: #30454a;
  --color-brand-950: #202d31;

  --radius: 0.625rem;
  --background: var(--color-brand-50);
  --foreground: var(--color-brand-950);
  --card: var(--color-brand-50);
  --card-foreground: var(--color-brand-950);
  --popover: var(--color-brand-50);
  --popover-foreground: var(--color-brand-950);
  --primary: var(--color-brand-300);
  --primary-foreground: var(--color-brand-950);
  --secondary: var(--color-brand-200);
  --secondary-foreground: var(--color-brand-300);
  --muted: var(--color-brand-200);
  --muted-foreground: oklch(0.556 0 0);
  --accent: var(--color-brand-200);
  --accent-foreground: var(--color-brand-300);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: var(--color-brand-100);
  --sidebar-foreground: var(--color-brand-950);
  --sidebar-primary: var(--color-brand-300);
  --sidebar-primary-foreground: var(--color-brand-100);
  --sidebar-accent: var(--color-brand-200);
  --sidebar-accent-foreground: var(--color-brand-300);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: var(--color-brand-950);
  --foreground: var(--color-brand-100);
  --card: var(--color-brand-300);
  --card-foreground: var(--color-brand-100);
  --popover: var(--color-brand-300);
  --popover-foreground: var(--color-brand-100);
  --primary: oklch(0.922 0 0);
  --primary-foreground: var(--color-brand-300);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: var(--color-brand-100);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: var(--color-brand-100);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: var(--color-brand-300);
  --sidebar-foreground: var(--color-brand-100);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: var(--color-brand-100);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: var(--color-brand-100);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
